// ~ 對應到 node_moudles
@import '~bootstrap/scss/functions';
@import './helpers/variables';
// @import '~bootstrap/scss/bootstrap';

@import '~bootstrap';

// base
@import 'base/reboot';
@import 'base/typography';

// utils
@import 'utils/animation';
@import 'utils/mediaQuery';
@import 'utils/background';
@import 'utils/position';

// components
@import 'components/loading';
@import 'components/navbar';
@import 'components/textDeco';
// pages
@import 'pages/home'