.l-background{
  background-image: url(../public/images/bg-1.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-attachment: fixed;
}
.l-background2{
  background-image: url(../public/images/homeBg.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  // background-attachment: fixed;
}